{% extends 'bootstrap/base.html' %}

{% block title %}Restaurants{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="static/css/styles.css">
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>All Cafes</h1>

	  <table class="table">


          <tbody>


          {% for cafe in cafes %}

            {% if loop.index==1 %}
                <tr>

              <th>{{ cafe[0] }}</th>
                    <th>{{ cafe[1] }}</th>
              <th>{{ cafe[2] }}</th>
              <th>{{ cafe[3] }}</th>
              <th>{{ cafe[4] }}</th>
              <th>{{ cafe[5] }}</th>
              <th>{{ cafe[6] }}</th>
            </tr>
            {% else %}
                <tr>

              <td>{{ cafe[0] }}</td>
                <td><a href="{{ cafe[1] }}" >Maps Link</a></td>
              <td>{{ cafe[2] }}</td>
              <td>{{ cafe[3] }}</td>
              <td>{{ cafe[4] }}</td>
              <td>{{ cafe[5] }}</td>
              <td>{{ cafe[6] }}</td>
            </tr>

            {% endif %}


          {% endfor %}
          </tbody>
  	  </table>

      <p><a href="{{ url_for('home') }}">Return to index page</a></p>

    </div>
  </div>
</div>

{% endblock %}
